<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="buttons">
        <a href="/login" class="btn">Login</a>
        <a href="/signup" class="btn">Sign Up</a>
    </div>
    <div class="header">
        <h1>AI Resume ATS Checker</h1>
        <p>
            Optimize your resume with AI-powered ATS analysis.
            Upload your resume, compare it against job descriptions,
            and improve your chances of landing interviews.
        </p>
    </div>
</body>
</html>